body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f4;
}

.gradient-button {
    
    color: white;
    font-size: 16px;
   
    background: linear-gradient(45deg, #ff6b6b, #f7d94c); 

}


