body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #f105f4;
    padding: 10px 20px; /* Adjust top/bottom and left/right padding */
}

.nav-menu {
    list-style-type: none; /* Remove bullet points */
    padding: 0;           /* Remove padding */
    margin: 0;           /* Remove margin */
    
    
}

.nav-menu li {
    margin: 0 15px; /* Add horizontal margin for spacing */
}

.nav-menu a {
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    padding: 10px 15px; /* Add padding around buttons */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth background transition */
}

.nav-menu a:hover {
    background-color: #575757; /* Darker background on hover */
}
